# Terraform
**/*.tfvars
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/.terraform/
**/*.backup
**/*.info

# Environment files
**/*.env

# HCL files (mantidos versionados)
!**/*.hcl

# CSV (somente na raiz)
*.csv

# Terraform lock file (DEVE ser versionado)
!.terraform.lock.hcl
