vpc_name                      = "vpc-cloudscripting-dsv"
vpc_cidr                      = "<net>/<size>"
vpc_public_subnet_names       = ["eks-public-primary", "eks-public-secondary"]
vpc_private_subnet_names      = ["eks-private-primary", "eks-private-sencondary"]
vpc_enable_dns_support        = true
vpc_enable_dns_hostnames      = true
vpc_enable_nat_gateway        = true
vpc_single_nat_gateway        = true
vpc_manage_default_acl        = false
vpc_role_arn                  = "arn:aws:iam::<id>:role/EksNetworkProvisioningRole"
eks_role_arn                  = "arn:aws:iam::<id>:role/EksAdmin"
eks_name                      = "eks-cloudscript-dsv"
eks_k8s_version               = "1.29"
eks_endpoint_public_access    = false
eks_creator_admin_permissions = false
eks_node_ami_type             = "AL2_ARM_64"
eks_node_instance_type        = ["t4g.small"]
eks_node_min_size             = 0
eks_node_max_size             = 2
eks_node_desired_size         = 1
